<div class="subscribe-box">
    <div class="subscribe-inside">
        <h2 class="subscribe-box-title">Subscribete al Newsletter de {{ site.name }} </h2>
        <p>Te estaré enviando los mejores panoramas para que puedas disfrutar en familia o si quieres también puedes salir sólo o con tu pinche o con tu lindo gatito</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="{{ site.mailchimp_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate gh-subscribe-form" target="_blank" novalidate>
                <label for="mce-EMAIL" class="screen-reader-text">Email Address</label>
                <input type="email" value="" name="EMAIL" class="required email subscribe-email" id="mce-EMAIL" placeholder="Your email address">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </form>
        </div>
        <!--End mc_embed_signup-->
    </div><!-- .inner -->
</div><!-- .widget -->
