{% if site.name and site.site_description %}
<section class="widget widget-text">
    <h2 class="widget-title">Acerca de {{ site.name }}</h2>
    <p>{{ site.site_description }}</p>
</section>
{% endif %}

<!-- Create a sorted array of tags -->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor
%}{%
endcapture %} {% assign sortedTags = site_tags | split:',' | sort %}

{% if site.mailchimp_url %}
<section class="widget widget-newsletter">
    <div class="inner">
        <h2 class="widget-title">Suscríbete a{{ site.name }}</h2>
        <p>Y recibe el mejor contenido de {{ site.name }} directamente a tu correo para que lo puedas leer mientras estás en el 🚽 o en esa reunión que debió ser un e-mail como el que te enviaremos.</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="{{ site.mailchimp_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                class="validate gh-subscribe-form" target="_blank" novalidate>
                <label for="mce-EMAIL" class="screen-reader-text">Correo Electrónico 📩</label>
                <input type="email" value="" name="EMAIL" class="required email subscribe-email" id="mce-EMAIL"
                    placeholder="Your email address">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </form>
        </div>
    </div>
</section>
{% endif %}
